ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;
}

li {
    clear: both;
}

li button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    color: #ff0000;
    float: right;
    cursor: pointer;
    font-size: 20px;
    background: transparent;
}

.lists-wrapper, .todos-wrapper {
    display: inline-block;
    vertical-align: top;
}

.hidden {
    display: none;
}
